<div class="quiz__container">

  <div class="quiz_logo">
    <img width="300px" src="../../../assets/images/buzzfeed-logo.png" alt="Logo Buzzfeed" srcset="">
    <h3>{{ title }}</h3>
  </div>

  <div class="quiz_questions" *ngIf=!finished>
    <h3>{{ questionSelected.question }}</h3>
  </div>

  <div class="quiz_options" *ngIf=!finished>
    <button
      *ngFor="let option of questionSelected.options; let i = index"
      (click)="playerChoice(option.alias)"
      class="btn-option">{{option.name}}</button>
  </div>

  <div *ngIf=finished class="quiz_results">
    <h1>Seu resultado é: </h1>
    <p>{{ result }}</p>
  </div>

</div>
